asgiref
Django
django-braces
django-crispy-forms
django-model-utils
django-star-ratings
djangorestframework
memory-profiler
psutil
python-dotenv
pytz
sqlparse
swapper
tzdata
whitenoise
gunicorn
