{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'app/images/favicon.ico' %}">
  <title>Acadship</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'app/landing.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'app/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/templatemo-eduwell-style.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/lightbox.css' %}">
  <!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
  <style>
    header {
      display: flex;
      background-image: url('{% static "app/assets/images/header-bg.png" %}');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      top: 0;
      left: 0;
      right: 0;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
    }

    @media (max-width: 600px) {
            header {
                background-size: auto;
                height: 8vh;
            }
        }
  </style>
  <script>
    function myFunction() { 
            var x = document.getElementById("links");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
  </script>
</head>

<body>
  <!-- ***** Header Area End ***** -->
  <header>
    <div class="logo">
      <a href="{% url 'landing' %}">
          <img src="{% static 'app/assets/images/templatemo-eduwell.png' %}" alt="logo">
      </a>
  </div>
    <div class="right-side">
      <div class="links" id="links">
        <li><a href="{% url 'index' %}" class="hyperlink">Scholarships </a></li>
        <li><a href="{% url 'contact'%}" class="hyperlink">Give Scholarship</a></li>
        <li><a href="{% url 'about' %}" class="hyperlink">About Us</a></li>
        <li><a href="{% url 'contact'%}" class="hyperlink">Contact Us</a></li>
      </div>
      <div class="menu">
        <div class="hamburger-menu" onclick="myFunction()">
          <div class="bar1"></div>
          <div class="bar1"></div>
          <div class="bar1"></div>
        </div>
      </div>
    </div>
  </header>

  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="get-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{% static 'app/assets/images/about-left-image.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h6>Get info</h6>
            <h4>Who are we at <em>Acadship</em></h4>
            <p> We are Acadship ;developed as an one stop solution for all your scholarship requirements. Our motivation lies in the firm notion of education being accessible to all irrespective of financial capabilites. Despite several scholarships pertaining to educational institutes all over the world, but often the underpreviledged learners are
              unware about them. Our aim is to connect students with the available scholarships . Hence, we are dedicated
              to giving the best of information, with a prime focus on dependability, quality and realistic
              solution. We are working to turn our passion for education into a booming website for scholarship
              information. We hope you enjoy the experience as we enjoy offering them to you.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <footer style="    margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;">Made with ❤️ at VIT Bhopal @2022</footer>

</body>

</html>