{% load static %}
<!DOCTYPE html>
<head>
    <title>AcadShip</title>
    
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">

    <link rel="stylesheet" href="{% static 'app/contact.css' %}">
</head>
<body>
    <header>
        <div class="name">
            <a href = "{% url 'index' %}"><img  href = "{% url 'index' %}" class="logo" src="{% static 'app/images/Acadship.png' %}" alt="logo">
                <a href = "{% url 'index' %}"><h1 href = "{% url 'index' %}">Acadship</h1></a>
            </div>
    </header>

    <h1 class="heading">Post your queries here </h1>

    <div class="main">
        <img src ="{% static 'app/images/letters.png' %}" class="image">

        <form action="" method = "post">
            {% csrf_token %}
            {{ form }}
            <button class="btn"><input class="input" type = "submit" value = "Submit"><h2>Submit</h2></button>
        </form> 
    </div>

    <footer class="footer">
        <div class="footer-content">
            <h3 style="display: inline-block;">Made with <h3 style="display: inline-block; color: rgb(220, 50, 50); white-space: pre;"> ❤</h3> at VITB @ 2022 Acadship</h3>
        </div>
      
    </footer> 
</body>
</html>