{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'app/images/favicon.ico' %}">
    <title>Acadship</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/landing.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'app/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/templatemo-eduwell-style.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'app/cards.css' %}">
    <style>
        header {
            display: flex;
            background-image: url('{% static "app/assets/images/header-bg.png" %}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            top: 0;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: space-between;
            z-index: 10;
        }

        @media (max-width: 600px) {
            header {
                background-size: auto;
                height: 8vh;
            }
        }

        table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #252323;
            text-align: center;
            padding: 8px;
            color: #2f2c2c;
        }

        tr:nth-child(even) {
            background-color: #2c2a2a;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{% url 'landing' %}">
                <img src="{% static 'app/assets/images/templatemo-eduwell.png' %}" alt="logo">
            </a>
        </div>
        <div class="right-side">
            <div class="search-bar">
                <form class="search" name="search">
                    <div class="search-input">
                        <input placeholder="Search" class="textfield" name="search" list="data-set">
                        <datalist id="data-set">
                            {% for app in apps %}
                            <option value="{{ app.name }}">
                                {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-search">
                        <button class="b1">
                            <img src="{% static 'app/images/search-icon.svg' %}" alt="Search Image" class="search-icon">
                        </button>
                    </div>
                </form>
            </div>
            <div class="links" id="links">
                <li><a href="{% url 'profile'%}" class="hyperlink">Profile</li></a></li>
                <li><a href="{% url 'index' %}" class="hyperlink">Scholarships </a></li>
                <li><a href="{% url 'contact'%}" class="hyperlink">Give Scholarship</a></li>
                <li><a href="{% url 'about' %}" class="hyperlink">About Us</a></li>
                <li><a href="{% url 'contact'%}" class="hyperlink">Contact Us</a></li>
                <li><a href="{% url 'logout'%}" class="hyperlink">Logout</li></a></li>
            </div>
            <div class="menu">
                <div class="hamburger-menu" onclick="myFunction()">
                    <div class="bar1"></div>
                    <div class="bar1"></div>
                    <div class="bar1"></div>
                </div>
            </div>
        </div>
    </header>

    <div style="margin-top: 2.5%;">
        <div style="margin-bottom: 2%; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <div>
                <h4 style="color:#e04cac; padding-inline-start: 1cm;">Welcome back, {{request.user}} !</h4>
            </div>
            <div style="display: flex; margin-right: 2%;">
                <button style="text-decoration: none;
                            margin: 1%;
                            border: none;
                            color: #fff;
                            width: 10em;
                            height: 3em;
                            line-height: 2em;
                            text-align: center;
                            background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
                            background-size: 300%;
                            border-radius: 30px;">

                    <a style="margin-left: 0px; color: white" href="{% url 'watchlist' %}">Watchlist</a>
                </button>
                <button style="text-decoration: none;
                            margin: 1%;
                            border: none;
                            color: #fff;
                            width: 13em;
                            height: 3em;
                            line-height: 2em;
                            text-align: center;
                            background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
                            background-size: 300%;
                            border-radius: 30px;" onclick="togglesorts()">

                    Advanced Search
                </button>
            </div>
        </div>
        <div class="filter-container" id="filter-container" style="display: none;">
            <h5>You need to fill all the fields in the below dropdown for the advanced search to work.
                <div class="filer-options">
                    <form name="search" class="filter-down">
                        <div class="sort-queries">
                            <div class="option">
                                <label class="search-base" for="dropdown">Category</label>
                                <select name="dropdown">
                                    <option>Choose</option>
                                    <option value="National">National</option>
                                    <option value="International">International</option>
                                </select>
                            </div>
                            <div class="option">
                                <label class="search-base" for="level">Qualification</label>
                                <select name="level">
                                    <option>Choose</option>
                                    <option value="Undergraduate">Undergraduate</option>
                                    <option value="Postgraduate">Postgraduate</option>
                                    <option value="Phd">PhD</option>
                                </select>
                            </div>
                            <div class="option">
                                <label class="search-base" for="dropdown">Skills</label>
                                <select name="dropdown">
                                    <option>Choose</option>
                                    <option value="Dacing">Dancing</option>
                                    <option value="Singing">Singing</option>
                                    <option value="Reading">Reading</option>
                                    <option value="Coding">Coding</option>
                                    <option value="Writing">Writing</option>
                                    <option value="Robotics">Robotics</option>
                                    <option value="Android Development">Android Development</option>
                                    <option value="Cooking">Cooking</option>
                                </select>
                            </div>
                            <div class="option">
                                <label class="search-base" for="level">Branches</label>
                                <select name="level">
                                    <option>Choose</option>
                                    <option value="BA">BA</option>
                                    <option value="BSc">BSc</option>
                                    <option value="BCom">BCom</option>
                                    <option value="BBA">BBA</option>
                                    <option value="MBA">MBA</option>
                                    <option value="MSc">MSc</option>
                                    <option value="MCom">MCom</option>
                                    <option value="MCA">MCA</option>
                                    <option value="MPhil">MPhil</option>
                                    <option value="PhD">PhD</option>
                                    <option value="BTech">BTech</option>
                                    <option value="MTech">MTech</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="run-search">
                            <button class="search-button">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </h5>
        </div> 
        {% if message %}
                <div style="margin: 2%;
                padding: 2%;
                display: flex;
                justify-content: center;
                font-size: 20px;
                color: #ffc10f;">{{ message }}</div>
            {% endif %}
        <div class="holder">
            {% for app in apps %}
            <a href="{% url 'listing' app.id %}" style="margin-left: 0px;">
                <div class="cards">
                    <div class="d1">
                        <a href="{% url 'listing' app.id %}" style="margin-left: 0px;">
                            <div class="name">{{app.name}}</div>
                        </a>
                        <div class="providedby">{{app.providedby}}</div>
                    </div>
                    <div class="d2">
                        <div style="display: flex;">
                            <div class="amount">{{app.scholarshipamount}}</div>
                        </div>
                    </div>
                    <div class="d3">
                        <div class="rating">Likes: {{app.like.count}}</div>
                    </div>
                    <div class="d4">
                        <a href="{% url 'listing' app.id %}" style="margin-left: 0px; font-size: 16px; color:#fff;">
                            <div class="show-more">Show More</div>
                        </a>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
<footer style="position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;">Made with ❤️ at VIT Bhopal @2022</footer>
<script>
    function togglesorts() {
        var div_id = document.getElementById("filter-container");
        if (div_id.style.display == "none") {
            div_id.style.display = "flex";
        }
        else {
            div_id.style.display = "none";
        }
    }
</script>

</html>