<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(54, 53, 53);
          color: white;
          text-align: center;
        }
        </style>
</head>
<body>
  <footer class="footer">
      <div class="footer-content">
          <h3>Made with ❤ at VITB @ 2022 Acadship</h3>
      </div>
    
  </footer>  

</body>
</html>