{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>AcadShip</title>
        <link rel="stylesheet" href="{% static 'app/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
<body>
<header>
        <div class="name">
            <a href = "{% url 'index' %}"><img  href = "{% url 'index' %}" class="logo" src="{% static 'app/images/Acadship.png' %}" alt="logo">
                <a href = "{% url 'index' %}"><h1 href = "{% url 'index' %}">Acadship</h1></a>
            </div>
        <div class="left">
            <form style="display: flex;" name="search">
                <input class="search" name="search">
                <button><img src="{% static 'app/images/search-icon.svg' %}" height="25px" width="25px"></button>
            </form>
            <a href="{% url 'about' %}">About us</a>
            <a class="cta" href="{% url 'contact' %}"><button>Contact us</button></a>
        </div>
    </header>

    <h1>Scholarships</h1>
    <table>
        <tr>
            <th>Name of Scholarship</th>
            <th>organizer</th>
            <th>Category</th>
            <th>Period</th>
            <th>Amount</th>
            <th>Application Fees</th>
            <th>Descrption</th>
            <th>Link</th>
        </tr>
    {% for app in apps %}
        <tr style="background-color:#020202bb">
            <td>{{app.name}}</td>
            <td>{{app.organizer}}</td>
            <td>{{app.category}}</td>
            <td>{{app.period}}</td>
            <td>{{app.amount}}</td>
            <td>{{app.application_fees}}</td>
            <td>{{app.description}}</td>
            <td><a href = "{{app.link}}" style = "color: rgb(32, 32, 235)">Click Here</a></td>
        </tr>
        {% endfor %}
    </table>


    <footer class="footer">
        <div class="footer-content">
            <h3 style="display: inline-block;">Made with <h3 style="display: inline-block; color: rgb(220, 50, 50); white-space: pre;"> ❤</h3> at VITB @ 2022 Acadship</h3>
        </div>
      
    </footer>  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  

</body>
</html>