{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>AcadShip</title>
        <link rel="stylesheet" href="{% static 'app/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
<body>
    <header>
        <div class="name">
            <img class="logo" src="{% static 'app/images/Acadship.png' %}" alt="logo">
            <h1>Acadship</h1>
        </div>
        <div class="abc">
            <a href="#">About us</a>
            <a class="cta" href="#"><button>Contact us</button></a>
        </div>
    </header>

    <h1>Scholarships</h1>
    <table>
        <tr>
            <th>S.No.</th>
            <th>Name of Scholarship</th>
            <th>organizer</th>
            <th>Category</th>
            <th>Period</th>
            <th>Amount</th>
            <th>Application Fees</th>
            <th>Descrption</th>
            <th>Link</th>
        </tr>
    {% for app in apps %}
        <tr style="background-color:#020202bb">
            <td>{{app.id}}</td>
            <td>{{app.name}}</td>
            <td>{{app.organizer}}</td>
            <td>{{app.category}}</td>
            <td>{{app.period}}</td>
            <td>{{app.amount}}</td>
            <td>{{app.application_fees}}</td>
            <td>{{app.description}}</td>
            <td><a href = "{{app.link}}" style = "color: rgb(32, 32, 235)">Click Here</a></td>
        </tr>
        {% endfor %}
    </table>


    <footer class="footer">
        <div class="footer-content">
            <h3>Made with ❤ at VITB @ 2022 Acadship</h3>
        </div>
      
    </footer>  
  

</body>
</html>