{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Scholarship{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'auctions/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">


    <title>Acadship</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'app/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/templatemo-eduwell-style.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'app/cards.css' %}">
    <link rel="stylesheet" href="{% static 'app/listing.css' %}">
</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'landing' %}" class="logo">
                            <img src="{% static 'app/assets/images/templatemo-eduwell.png' %}" alt="EduWell Template"
                                width="60" height="60">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li>
                                <form style="display: flex;" name="search">
                                    <input class="search" name="search">
                                    <button><img src="{% static 'app/images/search-icon.svg' %}" height="25px"
                                            width="25px"></button>
                                </form>
                            </li>
                            <li><a href="{% url 'index' %}" class="active">Scholarships</a></li>
                            <li><a href="{% url 'contact'%}">Give Scholarship</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact'%}">Contact Us</a></li>
                            <li><a href="{% url 'logout'%}">Logout</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section>
        <nav class="nav1">
            {% for app in apps %}
            <div class="a1">
                <div class="card">
                    <a href="{% url 'listing' app.id %}">{{ app.name }}</a>
                </div>
            </div>
            {% endfor %}
        </nav>
        <article>
            <div class="data">
                <div class="n1">
                    <h2>{% firstof listing.name_of_scholarship %}</h2>
                </div>
                <div class="n2">
                    <h4>{% firstof listing.provided_by %}</h4>
                </div>
                <div class="tags">
                    <div class="cards">
                        <div class="n3">
                            <h4>{% firstof listing.eligibility_criteria %}</h4>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="n9">
                            <h4>{% firstof listing.cat %}</h4>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="n10">
                            <h4>{% firstof listing.level %}</h4>
                        </div>
                    </div>
                </div>
                <div class="centeral-data">
                    <div class="left">
                        <div class="n3">
                            <h4>Name of Exam: {% firstof listing.exam_what %}</h4>
                        </div>
                        <div class="n4">
                            <h4>Scholarship amount: {% firstof listing.scholarship_amount %}</h4>
                        </div>
                        <div class="n5">
                            <h4>Application fees: {% firstof listing.application_fees %}</h4>
                        </div>
                    </div>
                    <div class="right">
                        <div class="n6">
                            <div class="place1">
                                <h4>Last date to apply: </h4>
                            </div>
                            <div class="align1">
                                <img src="{% static 'app/images/calendar-icon.png' %}" class="img">
                                <h4>{% firstof listing.dead_line %}</h4>
                            </div>
                        </div>
                        <div class="n8">
                            <a href = "{{listing.link}}">
                                <button class="btn1" onclick="location.href = '{% firstof listing.link_to_page %}'">
                                    Go to Scholarship site
                                </button>
                            </a>
                            <div class="two-button">
                                {% if in_watchlist %}
                                <button class="btn1"
                                    onclick="location.href = '{% url 'toggle_watchlist' listing.id %}'">Added to
                                    watchlist</button>
                                {% elif user.is_authenticated and not in_watchlist %}
                                <button class="btn1"
                                    onclick="location.href = '{% url 'toggle_watchlist' listing.id %}'">Add to
                                    watchlist</button>
                                {% endif %}
                                <button class="btn1" onclick="location.href = '{% url 'watchlist' %}'">Your
                                    Watchlist</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc">
                    <h4>Description:</h4>
                    <p>{% firstof listing.descrip %}</p>
                <div>
                    <div class="mt-4">
                        <div class="text-primary">Comments</div>
                        {% for comment in comments %}
                        <div class="comment">
                            <div class = "user-ico">
                                <img class = "ico1" src = "{% static 'app/images/User-Icon.png' %}">
                            </div>
                            <div class = "user-name">
                                {{ comment.commenter }}
                                <p class="text-muted"><small>{{ comment.timestamp }}</small></p>
                                <div class = "content">{{ comment.content }}</div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No comments yet.</p>
                        {% endfor %}
                    </div>

                    <div class="mt-4">
                        <h3 class="text-primary">Add a Comment</h3>
                        {% if user.is_authenticated %}
                        <form action="{% url 'add_comment' listing.id %}" method="post">
                            {% load crispy_forms_tags %}
                            {% crispy comment_form comment_form.helper %}
                        </form>
                        {% else %}
                        <p>Log in to post a comment.</p>
                        {% endif %}
                    </div>
                </div>
        </article>
        <div class="right1">
            {% if in_watchlist %}
            <button class="btn1" onclick="location.href = '{% url 'toggle_watchlist' listing.id %}'">Added to
                watchlist</button>
            {% elif user.is_authenticated and not in_watchlist %}
            <button class="btn1" onclick="location.href = '{% url 'toggle_watchlist' listing.id %}'">Add to
                watchlist</button>
            {% endif %}
            <button class="btn1" onclick="location.href = '{% url 'watchlist' %}'">Your
                Watchlist</button>

            <button onclick="refreshPage()" style = "background-color: transparent; border: none; outline: none">
                <div class="like mt-3">
                    <img data-id="{{listing.id}}"  id="post-like-{{listing.id}}"
                        class="liked"
                        {% if not request.user in listing.like.all %}
                        data-is_liked="no"
                    src="https://img.icons8.com/material-outlined/2x/thumb-up.png"
                {%else%}
                data-is_liked="yes"
                    src="https://img.icons8.com/material-sharp/2x/thumb-up.png"
                        {%endif%}
                    />
                    <span id="post-count-{{post.id}}">{{listing.like.count}}</span>
                </div>
            </button>
        </div>
    </section>
</body>
<script>
function refreshPage(){
    window.location.reload();
} 
</script>
<script src="{% static 'app/addpost.js' %}"></script>
<script src=" {% static 'app/script.js' %}"></script>
<footer style="    margin-top: 20px;
                                    left: 0;
                                    bottom: 0;
                                    width: 100%;
                                    text-align: center;">
    Made with ❤️ at VIT Bhopal @2022
</footer>

</html>