{% load static %}

<!Doctype html>
<head>
    <link href="{% static 'app/login_styles.css' %}" rel="stylesheet">
</head>
<body>
    {% if message %}
    <div>{{ message }}</div>
{% endif %}
<div class="login-box">
    <h2>Login</h2>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="user-box">
        <input type="text" name="username">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="password">
        <label>Password</label>
      </div>
      <button><input class = "button-85" type="submit" value="Login"></button>>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
        
    </form>
  Dont have an account?<a href="{% url 'register' %}"> Register here </a>
  </div>  
</body>
</html>
