{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'app/images/favicon.ico' %}">
  <title>Acadship</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'app/landing.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'app/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/templatemo-eduwell-style.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/lightbox.css' %}">
  <!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
  <style>
    header {
      display: flex;
      background-image: url('{% static "app/assets/images/header-bg.png" %}');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      top: 0;
      left: 0;
      right: 0;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
    }

    @media (max-width: 600px) {
            header {
                background-size: auto;
                height: 8vh;
            }
        }
  </style>
  <script>
    function myFunction() { 
            var x = document.getElementById("links");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
  </script>
</head>

<body>
  <!-- ***** Header Area End ***** -->
  <header>
    <div class="logo">
      <a href="{% url 'landing' %}">
          <img src="{% static 'app/assets/images/templatemo-eduwell.png' %}" alt="logo">
      </a>
  </div>
    <div class="right-side">
      <div class="links" id="links">
        <li><a href="{% url 'index' %}" class="hyperlink">Scholarships </a></li>
        <li><a href="{% url 'contact'%}" class="hyperlink">Give Scholarship</a></li>
        <li><a href="{% url 'about' %}" class="hyperlink">About Us</a></li>
        <li><a href="{% url 'contact'%}" class="hyperlink">Contact Us</a></li>
      </div>
      <div class="menu">
        <div class="hamburger-menu" onclick="myFunction()">
          <div class="bar1"></div>
          <div class="bar1"></div>
          <div class="bar1"></div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="main-body">
    
          
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{request.user}}</h4>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h4>{{request.user}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Family Annual Income</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h2>{{income}}</h2>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h2>{{gender}}</h2>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Field Of Education</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h2>{{degree}}</h2>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <h2>{{request.user.email}}</h2>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="">Edit</a>
                    </div>
                  </div>
                </div>
              </div>

              {% for da in data %}
              {{da.income}}
              {{da.gender}}
              {{da.degree}}
              {% endfor %}

            </div>
          </div>

        </div>
    </div>