{% load static %}

<!Doctype html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'app/images/favicon.ico' %}">
  <title>Acadship</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'app/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/templatemo-eduwell-style.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'app/assets/css/lightbox.css' %}">
  <link href="{% static 'app/login_styles.css' %}" rel="stylesheet">
  <!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'landing' %}" class="logo">
              <img src="{% static 'app/assets/images/templatemo-eduwell.png' %}" alt="EduWell Template" width="60"
                height="60">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{% url 'index' %}" class="active">Scholarships</a></li>
              <li><a href="{% url 'contact'%}">Give Scholarship</a></li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'contact'%}">Contact Us</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <body>
    <div class="login-box">
      <h2>Registration</h2>
      {% if message %}
      <div class="error">{{ message }}</div>
      {% endif %}
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="login-window">
          <div class="login-side">
            <div class="user-box">
              <input type="text" name="username", required autocomplete="off">
              <label>Username</label>
            </div>
        
            <div class="user-box">
              <input type="email" name="email" required autocomplete="off">
              <label>Email</label>
            </div>
        
            <div class="user-box">
              <input type="password" name="password" required autocomplete="off" oncopy="return false" onpaste="return false">
              <label>Password</label>
            </div>
        
            <div class="user-box">
              <input type="password" name="confirmation" required autocomplete="off" oncopy="return false" onpaste="return false">
              <label>Confirm Password</label>
            </div>
          </div>
          <div class="login-side">
            <div class="user-box">
              <input list="income" name="income" autocomplete="off">
              <datalist id="income">
                <option value="0-100000">
                <option value="100001-500000">
                <option value="500001-100000">
                <option value="Greater Than 100000">
              </datalist>
              <label>Family Annual Income </label>
            </div>
        
          <!--  <div class="user-box">
              <input list="education" name="delete-later" required autocomplete="off">
              <label>Field of Education</label>
              <datalist id="education">
                <option value="0-100000">
                <option value="100001-500000">
                <option value="500001-100000">
                <option value="Greater Than 100000">
              </datalist>
            </div> -->

            <div class="user-box">
              <input list="branch" name="branch" required autocomplete="off">
              <datalist id="branch">
                <option value="BA">
                <option value="BSc">
                <option value="Bcom">
                <option value="MBA">
                <option value="MSc">
                <option value="MCom">
                <option value="MCA">
                <option value="MPhil">
                <option value="PhD">
                <option value="Other">
                  

              </datalist>
              <label>Field of Education</label>
            </div>

            <div class="user-box">
              <input list="degree" name="degree" required autocomplete="off">
              <datalist id="degree">
                <option value="Computer Science">
                <option value="Stem">
                <option value="All">
                <option value="Commerce">
                <option value="Science">
                <option value="Engineering">
                <option value="Arts">
                <option value="Law">
                <option value="Medicine">
                <option value="Other">
                  

              </datalist>
              <label>Branches</label>
            </div>

            <div class="user-box">
              <input list="skill" name="skill" required autocomplete="off">
              <datalist id="skill">
                <option value="Singing">
                <option value="Dancing">
                <option value="reading">
                <option value="Writting">
                <option value="Coooking">
                <option value="Sports">
                <option value="Others">
                
                  

              </datalist>
              <label>Skills</label>
            </div>

            <div class="user-box">
              <input list="caste" name="caste" required autocomplete="off">
              <datalist id="caste">
                <option value="SC">
                <option value="ST">
                <option value="OBC">
                <option value="General">
              
                  

              </datalist>
              <label>castes</label>
            </div>
        
            <div class="user-box">
              <input list="gender" name="gender" required autocomplete="off">
              <datalist id="gender">
                <option value="Male">
                <option value="Female">
                <option value="Other">
                <option value="Prefer Not To Say">
              </datalist>
              <label>Gender</label>
            </div>
            <div class="user-box">
              <input type="text" name="marks_10" required autocomplete="off">
              <label>Marks in 10th</label>
            </div>
            <div class="user-box">
              <input type="text" name="marks_12" required autocomplete="off">
              <label>Marks in 12th</label>
          </div>
        </div>
          <!-- </div>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <button class="cssbuttons-io-button" type="submit" value="Login"> Register
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>
      </div> -->

          <div class = "login-bottom">
            <button class="cssbuttons-io-button" type="submit" value="Register"> Register
              <div class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
            <div class="register-login">
              Already have an account?
              <a href="{% url 'login' %}"> Login </a>
            </div>
          </div>

          <!-- <a><input class = "submit_login" type="submit" value="Register">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a> -->

      </form>
      <!-- <h5>Already have an account?<a href="{% url 'login' %}"> Login </a></h5> -->
    </div>
    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>
  </body>

  </html>