section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 0.6;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.card{
  display:flex;
  width: 99%;
  height: auto;
  justify-items: center;
  background-color: #fdfdfd;
  margin-bottom:5%;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
}
.card:hover{
  transform: scale(1.07);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cards{
display:flex;
width: auto;
height: auto;
justify-items: center;
background-color: #d1d1d1bd;
border-radius: 10px;
flex-direction: column;
padding: 10px;
margin: 15px;
margin-left: 0px;
}

.data{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
}

h2, h4{
  font-family: 'Sans-Serif', 'Georgia', 'Arial', 'Helvetica Neue';
}

.n1{
display: flex;
}

.n2{
display: flex;
margin-top: 5px;
}

.n3{
display: flex; 
margin-bottom: 5%;
}

.n4{
display: flex;
margin-bottom: 5%;
}

.n5{
display: flex;
margin-bottom: 5%;
}

.n6{
display: flex;
flex-direction: column;
padding-right: 5%;
}

.n7{
display: flex;
}

.n8{
display: flex;
flex-direction: column;
}

.n9{
display: flex;
justify-content: center; 
}

.n10{
display: flex;
justify-content: center; 
}

.tags {
display: flex;
flex-wrap: wrap;
}

.centeral-data{
margin-top: 5%;
display: flex;
padding-right: 30px;
justify-content: space-between;
}

.left{
display: flex;
flex-direction: column;

}

.right{
display: flex;
flex-direction: column;
}

.img{
width: 15%;
height: 90%;
margin-right: 5%;
}

.align1 {
display: flex;
align-items: center;
justify-content: center;
}

.a1 {
display: flex;
justify-content: center;
}

.btn1{
  margin-top: 5%;
  padding: 15px 25px;
  border: unset;
  border-radius: 5px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.5);
  transition: all 250ms;
  overflow: hidden;
  width: 90%;
}

.btn1:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 5px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  }

.btn1:hover{
  color: #e8e8e8;
}
.btn1:hover::before {
  width: 100%;
}

.place1{
  text-align: center;
}

.right1 {
  flex: 0.8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width:1200px) {
  .centeral-data {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .right {
    margin-top: 10%;
  }

  .nav1 {
    display: none;
  }
  .right1{
    flex: 0;
    display: none;
  } 
}
.desc {
  margin-top: 5%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.ico1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment{
  display: flex;
  margin-bottom: 5%;
}
.user-name{
  margin-left: 2%;
  font-size: 20pt;
}

.content{
  margin-top: 3%;
  font-size: 15pt;
}

.text-primary{
  margin-bottom: 2%;
  font-size: 20pt;
  font-weight: bold;
}

@media (min-width:1200px) {
  .two-button{
    display: none;
  }
}